body {
  background-color: #202124;
  color: #e1e1e1;
  margin: 0;
}

form {
  margin: 1rem auto;
}

label {
  color: #e0e2e4;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-style: italic;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin: 0.5rem
}

input {
  width: 15rem;
  max-width: 90vw;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  color: #e5e6e6;
  background-color: #3c4043;
}

/* input type checkbox */
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  color: #9aa0a6;
}

input[type="checkbox"]:checked {
  color: #8ab4f8;
}

select {
  width: 15rem;
  max-width: 90vw;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  color: #e5e6e6;
  background-color: #3c4043;
}

.wide-input {
  width: 30rem;
}

.very-small-input {
  width: 6rem;
}
.small-input {
  width: 10rem;
}

button {
  color: #ffffff;
  background-color: #3c4043;
  border-radius: 0.2rem;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  border: none;
  margin: 0.5rem
}

button:disabled {
  color: #999999;
}

/* Table */
table {
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: #3c4043;
}

tr {
  /*margin: 0.2rem 0.5rem;*/
}

td, th {
  padding: 0.2rem 0.5rem;
  text-align: start;
  vertical-align: top;
}
th {
  border-bottom: 2px solid #5f6368;
}
td {
  border-top: 1px solid #5f6368;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  white-space: nowrap;
}
